<!-- app/views/users/my_account.html.erb -->
<p><%=link_to 'Return Home', root_path%></p>
<h1><%=t :account_info %></h1>

<p><%=t :username_is %> <%= @sessName %>

<br>
<a href="log_out"><%=t :logout1 %></a>