<html>


<head>
<script type="text/javascript" src="/path/to/jquery-latest.js"></script> 
<script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<script>

    $(function() {
	
	
   var people = [];

   $.getJSON('/rows.json', function(data) 
   {
       $.each(data.data, function(i, f) 
	   {
	   var title = f[9]
	   var artist = f[10]
	   var year = f[11]
	   var theme = f[8];
	  
          var $tblRow = "<tr>" + "<td>" + title + "</td>" +
           "<td>" + artist + "</td>" + "<td>" + year + "</td>" +
		   "<td>" + theme + "</td>" + "</tr>"
           $($tblRow).appendTo("#musicdata");
     });

   });

});

</script>

<title><%=t :mainpage_title %></title>
</head>
	<body>
	<h1 style center><%=t :main_title %></h1>
	<div class='search'>
  <h3><%=t :search_for %></h3>
   <form action ="search" method="post">
<input type="radio" name="theme2" value="Love"><%=t :love %><br>
<input type="radio" name="theme2" value="Heartbreak"><%=t :heartbreak %><br>
<input type="radio" name="theme2" value="People and places"><%=t :people %><br>
<input type="radio" name="theme2" value="Sex"><%=t :sex %><br>
<input type="radio" name="theme2" value="Politics and protest"><%=t :protest %><br>
<input type="radio" name="theme2" value="Life and death"><%=t :life %><br>
<input type="radio" name="theme2" value="Party songs"><%=t :party %><br>
  <input name = "key" type="input" />
  <input value="<%=t :searchbutton %>" type="submit"/>
  </form>
  </div>
  <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Flocalhost:3000/music/index%2Fdocs%2Fplugins%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
	   <center>	
	   <table class="tablesorter" border="5">
  <thead>
  <tr>
            <th style width=100px><%=t :title_1 %></th>
			<th><%=t :artist_1 %></th>
			<th><%=t :year_1 %></th>
			<th><%=t :theme_1 %></th>
			</tr>
        </thead>
      <tbody id="musicdata">
		
       </tbody>
   </table></center>
	</body>
	</html>