<html>

<head>

  <title>Search results</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Year</th>
        <th>Theme</th>
		<th>Spotify Link</th>
      </tr>
   </thead>

    <tbody>
     <% @music.each do |music| %>
        <tr>
          <td><%= music.title %></td>
          <td><%= music.artist %></td>
          <td><%= medal.year %></td>
          <td><%= medal.theme %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%=link_to 'Return Home', root_path%></p>
</body>

</html>